.nav-pic {
  border: black solid 1px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  float: right;
  margin-right: 20px;
}

.small-profile-pic {
  border: black solid 1px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
}

* {
  font-family: 'Poppins', sans-serif;
  background-color: #EFEFEF;
  color: #4F4D4D;
  font-size: 18px;
}

.nav-bar {
  height: 80px;
  background-color: #CAEBF2;
  padding: 10px;
  color: white;
  width: 100%;
  border-bottom: #808080 solid 1px;
}

.fb-button {
  position: relative;
  float: right;
  background-color: #3B5998;
  color: white;
  padding: 7px;
  height: 40px;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  border: none;
}

.fa {
  margin: 2px, 1px, 1px, 1px;
  margin-right: 4px;
  color: white;
  background-color: #3B5998;
}

.red-button {
  position: relative;
  background-color: #ff3b3f;
  color: white;
  margin: 8px;
  border: none;
  border-radius: 8px;
  padding: 7px;
  font-size: 16px;
  border: #808080 solid 1px;
}

.karma {
  position: relative;
  height: 40px;
  white-space: nowrap;
  float: right;
  padding: 10px;
  margin-right: 20px;
  margin-top: 6px;
  background-color: #CAEBF2;
  max-height: 70%;
}

.userName {
  position: relative;
  height: 40px;
  float: right;
  padding: 10px;
  margin-right: 20px;
  background-color: #CAEBF2;
  max-height: 70%;
  white-space: nowrap;
  margin-top: 6px;
}

.userName div {
  background-color: #CAEBF2;
}

.userName small {
  background-color: #CAEBF2;
  cursor: pointer;
}

.nav-bar-spacer {
  width: 200px;
}

.welcome {
  text-align: center;
  font-size: 60px;
  position: relative;
}

.tag-line {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.spacer {
  height: 25vh;
}

.fb-button-big {
  position: relative;
  text-align: center;
  height: 60px;
  background-color: #3B5998;
  color: white;
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
}

.center {
  text-align: center;
}

.greeting {
  margin-top: 10vh;
  font-size: 48px;
  text-align: center;
}

.group-select {
  text-align: center;
  padding: 20px;
  font-size: 36px;
}

.group {
  position: relative;
  text-align: center;
}

.group-button {
  background-color: #ff3b3f;
  border: 1px #808080 solid;
  color: white;
  font-size: 24px;
  margin-top: -1px;
}

.new-group {
  margin-top: 35px;
  font-size: 24px;
}

.volunteer-div {
  position: relative;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: #FFC78F;
  text-align: left;
  font-size: 16px;
  border-radius: 15px;
  border: #808080 solid 1px;
  padding: 3px;
  margin-bottom: 3vh;
}

.individual-request {
  background-color: #FFC78F;
  padding-left: 60px;
}

.modal-inside {
  background-color: #EFEFEF;
  text-align: left;
}

.modal-input {
  padding: 3px;
  margin-top: 8px;
  width: 370px;
}

.second-input {
  margin-left: 94px;
  margin-bottom: 8px;
}

.third-input {
  margin-bottom: 8px;
}

.no-wrap {
  white-space: nowrap;
}

.orange {
  background-color: #FFC78F;
}

.top-margin {
  margin-top: 20px;
}

.no-requests {
  padding: 10px;
  margin: 5px;
  font-size: 24px;
}

.group-button:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.logo {
  background-color: #CAEBF2;
}

.chat {
  width: 50%;
}

.pickups {
  width: 50%;
}

.display {
  /*display: table;*/
  width: 100%;
}

.request-container {
  padding: 20px;
  float: right;
  white-space: nowrap;
}

.chatBox {
  background-color: grey;
  height: 505px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px !important;
}

.chatInput {
  display: flex;
  background: grey;
}

.chatInput button {
  display: block;
  /* width: 150px; */
  width: 20%;
}

.chatInput input {
  max-width: 100%;
  width: 80%;
  /* display: block; */
}

.messagesBox {
  height: 94%;
  border: 1px solid black;
  background: transparent;
  padding: 0px !important;
}
